modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 31004626
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ice-website && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cd ice-website && npm install && npm run build"]
run = ["sh", "-c", "cd ice-website && npm run start"]


